$purple:#6001D2;

.page-content {
    background: url(../img/bg-image-3.jpg) center repeat;
}

.header-purple-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: $purple;
    color: #fff;

    .mainmenu-wrapper .page_nav ul.mainmenu li a {
        color: #fff !important;
    }

}

.bg_image--8 {
    background-image: url(../img/title-bg-2.jpg);

}

.newheading {
    display: flex;
    justify-content: center;

    .newheading-img {
        max-width: 53px;
        margin: auto 0;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 70px;
        font-family: "Poppins", sans-serif;
        line-height: 1.23;
        margin: 0;
        color: #ffffff;
    }

}

.cut-paragraph {
    white-space: pre-line;
}


@media screen and (max-width: 767px) {
    .mr_sm--0 {
        margin-bottom: 0;
    }
}

.qrcode-img {
    max-width: 100px;

    img {
        width: 100%;
    }
}

.dp-flex {
    display: flex;
}

//內頁文章顏色
.p-green {
    color: #28A745;
}

.p-red {
    color: #DC3545;
}

.p-orange {
    color: #FD7E14;
}

.p-bluegray {
    color: #6C757D;
}

.p-purple {
    color: $purple;
}